.battle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.battle h1 {
  animation: showIn 2s linear 0s;
  position: absolute;
  position: absolute;
  font-size: 3rem;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.battle__content {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 700px) {
  .battle__content {
    flex-direction: column;
    justify-content: center;
  }
}

.battle__content > h3 {
  transform: translateY(8rem);
}

@media only screen and (max-width: 700px) {
  .battle__content h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.battle__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border-radius: 2rem;
  transition: all 0.2s;
}

@media only screen and (max-width: 700px) {
  .battle__box {
    gap: 0;
  }

  .battle__box:first-child {
    margin-top: 10rem;
  }
}

.battle__box:hover {
  transform: none;
}

.battle__player {
  justify-self: center;
}

.battle__result {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  gap: 3rem;
  animation: showInDisplay linear 3s;
}

@media only screen and (max-width: 700px) {
  .battle__result {
    flex-direction: column;
    margin: 2rem 0;
    margin-bottom: 6rem;
    gap: 1rem;
    height: auto;
    animation: showInDisplayMobile linear 3s;
  }
}

.battle__result h2 {
  font-size: 4rem;
}

@media only screen and (max-width: 700px) {
  .battle__result h2 {
    font-size: 3rem;
  }
}

.battle__result p {
  font-size: 3rem;
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  .battle__result p {
    font-size: 2rem;
  }
}

.battle__result button {
  margin-top: 5rem;
  background-color: #fff;
  color: #000;
  padding: 1rem;
  width: 30rem;
  font-weight: 700;
  border: none;
  font-family: inherit;
  font-size: 2.4rem;
  cursor: pointer;
  display: block;
  transition: all 0.4s;
  border: 2px solid transparent;
}

@media only screen and (max-width: 700px) {
  .battle__result button {
    margin-top: 2rem;
  }
}

.battle__result button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.battle__score {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 700px) {
  .battle__score {
    margin-top: 2rem;
  }
}

@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes showInDisplay {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  80% {
    opacity: 0%;
    visibility: visible;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes showInDisplayMobile {
  0% {
    opacity: 0;
    visibility: hidden;
    height: 0%;
  }
  80% {
    opacity: 0%;
    visibility: visible;
    height: 0%;
  }
  100% {
    opacity: 100%;
    visibility: visible;
    height: inherit;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
