.selection__box {
  padding: 8rem 8rem;
  min-height: 63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 8rem;
  border-radius: 2rem;
  transition: all 0.2s;
  fill: white;
  font-size: 2.4rem;
}

@media only screen and (max-width: 900px) {
  .selection__box {
    min-height: 50rem;
  }
}

@media only screen and (max-width: 700px) {
  .selection__box {
    min-height: 10rem;
    padding: 3.5rem 4.5rem;
    gap: 4rem;
    font-size: 2rem;
  }
}

.selection__box:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(255, 255, 255, 0.25) 0rem 0.6rem 1.2rem -2rem,
    rgba(255, 255, 255, 0.3) 0rem 3px 7rem -1rem;
  font-size: 2.6rem;
}

@media only screen and (max-width: 900px) {
  .selection__box:hover {
    font-size: 2.2rem;
  }
}

.selection__images {
  width: 20rem;
  height: auto;
  transition: all 0.1s;
}

@media only screen and (max-width: 900px) {
  .selection__images {
    width: 20rem;
  }
}

@media only screen and (max-width: 700px) {
  .selection__images {
    width: 15rem;
  }
}

.selection__box:hover > .selection__images {
  transform: scale(1.1);
}
